<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPage</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <div class="auth-buttons">
                <a href="{% url 'logout' %}" class="auth-button">로그아웃</a>
                <a href="{% url 'mypage' %}" class="auth-button">MyPage</a>
            </div>
            <div class="header">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}" class="logo">
                </a>
            </div>
        </header>
        <h2>MyPage</h2>
        <ul>
            {% for favorite in favorites %}
            <li>{{ favorite.address.name }} - {{ favorite.address.address }} - {{ favorite.address.finalscore.new_score }}</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>
