<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <div class="auth-buttons">
                <a href="{% url 'login' %}" class="auth-button">로그인</a>
                <a href="{% url 'signup' %}" class="auth-button">회원가입</a>
            </div>
            <div class="header">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}" class="logo">
                </a>
            </div>
        </header>
        <h2>회원가입</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">회원가입</button>
        </form>
    </div>
</body>

</html>
